
.form-control[type=date]::-webkit-inner-spin-button, 
.form-control[type=date]::-webkit-clear-button,
.form-control[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-control[type=date]::-webkit-calendar-picker-indicator {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    position: relative;
    z-index: 1;
    transform: translateX(16px);
    cursor: pointer;
}

.z-index-1 {
    position: relative;
    z-index: -1;
}


.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}
.bg-gray {
    background-color:#212529;
}
.bg-lb{
    background-image: url(https://cdn.pixabay.com/photo/2017/08/07/23/24/grey-2609109_960_720.jpg);
}
